<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletCheck</servlet-name>
        <servlet-class>ServletPack.ServletCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>First</servlet-name>
        <servlet-class>ServletPack.First</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Second</servlet-name>
        <servlet-class>ServletPack.Second</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Third</servlet-name>
        <servlet-class>ServletPack.Third</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>ServletPack.CheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Four</servlet-name>
        <servlet-class>ServletPack.Four</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Five</servlet-name>
        <servlet-class>ServletPack.Five</servlet-class>
        <init-param>
            <param-name>driver</param-name>
            <param-value>Sun.jdbc.odbc.Driver</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Cookie2</servlet-name>
        <servlet-class>ServletPack.Cookie2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cookie1</servlet-name>
        <servlet-class>ServletPack.Cookie1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCheck</servlet-name>
        <url-pattern>/ServletCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/CheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>First</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Second</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Third</servlet-name>
        <url-pattern>/ThirdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Four</servlet-name>
        <url-pattern>/Four</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Five</servlet-name>
        <url-pattern>/Five</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookie2</servlet-name>
        <url-pattern>/Cookie2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookie1</servlet-name>
        <url-pattern>/Cookie1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
